<footer class="site-footer">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-left">
                    <img src="images/logo-light.svg" alt="Logo" />
                    <ul class="social">
                        <li><a href=""><img src="images/icon-facebook.svg" alt="facebook" /></a></li>
                        <li><a href=""><img src="images/icon-instagram.svg" alt="instagram" /></a></li>
                        <li><a href=""><img src="images/icon-twitter.svg" alt="twitter" /></a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="about-cbd.html">About cbd</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="faq.html">faq</a></li>
                        <li><a href="javascript:void(0)">offers</a></li>
                        <li><a href="javascript:void(0)">privacy policy</a></li>
                        <li><a href="javascript:void(0)">terms and conditions</a></li>
                    </ul>
                </div>
                <div class="footer-address">
                    <h6>SN CBD PRODUCTs</h6>
                    <p>123 Lorem Ipsum Street<br>NY, USA - 321223</p>
                    <p class="link">t: <a href="tel:888-666-1234">888-666-1234</a></p>
                    <p class="link">e: <a href="mailto:snproducts@gmail.com">snproducts@gmail.com</a></p>
                </div>
            </div>
            <div class="site-info">&copy; 2025 sn cbd products. All right reserved</div>
        </div>
    </footer>