<section class="announcement">
        <p>free shipping on all orders over $75</p>
    </section>
    <header class="site-header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <a href="index.html" class="logo">
                        <img src="images/logo.svg" alt="SN CBD Store Logo">
                    </a>
                </div>
                <nav class="main-nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="about-cbd.html">About CBD</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="index.html#offers">offers</a></li>
                    </ul>
                </nav>
                <nav class="secondary-nav">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" id="wish-tigger">
                                <span class="material-symbols-outlined">favorite</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="material-symbols-outlined">person</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" id="cart-tigger">
                                <span class="cart-count">0</span>
                                <span class="material-symbols-outlined">shopping_bag</span>
                            </a>
                        </li>
                        <li><a href="javascript:void(0)" id="search-tigger"><span class="material-symbols-outlined">search</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="search-box">
        <div class="search-box-iner">
            <span class="material-symbols-outlined icon-search">search</span>
            <input type="text" class="search-input" placeholder="Search Products...">
            <span class="material-symbols-outlined icon-close-search">close_small</span>
        </div>
        <ul id="search-results"></ul>
    </div>